{% extends 'base.html' %}


{% block content %}
    <h1 class="display-4 mt-5">Student list:</h1>
    <table cellspacing="0" cellpadding="6px" rules="auto"
           border="1" width="50%">
        <tr bgcolor="#777">
            <td><b>Student</b></td>
            <td><b>University</b></td>
        </tr>
        {% for student in students %}
            <tr>
                <td><a href='{% url 'university:student-detail' pk=student.pk %}' class="card-link
                   ml-0">{{ student.last_name }}</a></td>
                <td>
                    <a href={% url 'university:university-detail' pk=student.university.pk %}> {{ student.university }}</a>
                </td>
            </tr>
        {% empty %}
            <li>No students yet.</li>
        {% endfor %}
    </table>
{% endblock %}