{% extends "base.html" %}

{% block content %}
    <h1 class="display-4 mt-5">University list:</h1>
    <table cellspacing="0" cellpadding="6px" rules="auto"
           border="1" width="50%">
        <tr bgcolor="#777">
            <td><b>University</b></td>
            <td><b>Students</b></td>

        </tr>

        {% for university in universities %}
            <tr>
                <td><a href='{% url 'university:university-detail' pk=university.pk %}' class="card-link
                   ml-0">{{ university.name }}</a></td>

                <td><a href="../../university/student/{{ student }}"> <span class="badge badge-primary badge-pill">Students: {{ university.student_set.all|length }}</span></a>
                </td>
            </tr>

        {% empty %}
            <li>No universities yet.</li>

        {% endfor %}
    </table>
{% endblock %}